<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.survivalkid"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".menu.MainMenuActivity"
            android:label="@string/title_activity_menu"
            android:configChanges="orientation"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.CharacterSelectMenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".menu.ReplaceButtonActivity"
            android:label="@string/title_activity_replace_button"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".EndActivity"
            android:label="@string/title_activity_end"
            android:theme="@style/ThemeDialogCustom" >
        </activity>
        <activity
            android:name=".menu.OptionsActivity"
            android:label="@string/title_activity_options"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.survivalkid.MainMenuActivity" />
        </activity>
        <activity
            android:name=".menu.HowToPlayActivity"
            android:label="@string/title_activity_how_to_play"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.survivalkid.MainMenuActivity" />
        </activity>
        <activity
            android:name=".menu.CreditsActivity"
            android:label="@string/title_activity_credits"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.survivalkid.menu.MainMenuActivity" />
        </activity>
    </application>

</manifest>